<style type="text/css">
.about-section {
    padding: 50px;
    text-align: center;
    background-color: rgb(224, 168, 64);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 3, 3);
}
.title{
    color: rgb(122, 175, 202);
}
h1{
    text-align: center;
}
</style>


<div class="about-section">
    <h1><u>About OneTracker</u></h1>
    <p>Our group’s web application enables users to keep track of the food items
       that were purchase as well as the food items that they have consumed. The 
       project is successful when users are able to monitor their purchase and consumption habits. 
       This project is a tool to assist users in maintaining a healthier lifestyle.</p> 
</div>

<br>
<h1><u>Our Team</u></h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Chen Zhengjie</h5>
      </div>
      <p class="title">Member</p>
      <p>Some text that describe</p>
      <p>Email: CZJ@OneTracker.com</p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Edison Koh</h5>
        </div>
        <p class="title">Member</p>
        <p>Some text that describe</p>
        <p>Email: EK@OneTracker.com</p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Kris Huang Wei</h5>
        </div>
        <p class="title">Member</p>
        <p>Some text that describe</p>
        <p>Email: KHW@OneTracker.com</p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Liu Feng Hao</h5>
        </div>
        <p class="title">Leader</p>
        <p>Some text that describe</p>
        <p>Email: LFH@OneTracker.com</p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Tan Li Ying</h5>
        </div>
        <p class="title">Member</p>
        <p>Some text that describe</p>
        <p>Email: TLY@OneTracker.com</p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Fu Guan Qiao</h5>
        </div>
        <p class="title">Member</p>
        <p>Some text that describe</p>
        <p>Email: FGQ@OneTracker.com</p>
    </a>
</div>











