{% extends 'base/base.html' %} {% block content %}
<h1>History</h1>

<style type="text/css">
  #element1 {display:inline-block;margin-right:39%;} 
  #element2 {display:inline-block;} 
</style>

<div id="element1">
  <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'purchasehistory'  %}">Purchase History</a>
  <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'consumehistory'  %}">Consume History</a>
</div>
<div id="element2">
  <form method="GET" action="{% url 'history' %}">
    <input type="text" name="q" placeholder="Search Ingredients" />
  </form>
</div>



<hr />

<div>
  <table class="table">
    <tr>
      <th>Type</th>
      <th>Ingredient name</th>
      <th>Quantity</th>
      <th>Calories (kcal)</th>
      <th>Carbs (g)</th>
      <th>Fat (g)</th>
      <th>Protein (g)</th>
      <th>Sodium (mg)</th>
      <th>Sugar (g)</th>
      <th>Date</th>
    </tr>
    {% for ingredient_history in ingredients_history %}
    <tr>
      <th>{{ingredient_history.type}}</th>
      <th>
        <a
          href="{% url 'add-ingredients' %}?q={{ingredient_history.ingredient_id}}&amount={{ingredient_history.amount}}&unit={{ingredient_history.unit}}"
          >{{ingredient_history.name}}</a>
      </th>
      <th>{{ingredient_history.amount}} {{ingredient_history.unit}}</th>
      <th>{{ingredient_history.calories}}</th>
      <th>{{ingredient_history.carbs}}</th>
      <th>{{ingredient_history.fat}}</th>
      <th>{{ingredient_history.protein}}</th>
      <th>{{ingredient_history.sodium}}</th>
      <th>{{ingredient_history.sugar}}</th>
      <th>{{ingredient_history.created}}</th>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
